<h1>Workouts</h1>

<div id="index_workouts">
  <% @workouts.each do |workout| %>
    <h2><%= link_to workout.date.strftime("%A, %B %d"), workout %></h2>
    <h3><span>Workout:</span> <%= workout.workout %></h3>
  <% end %>
</div>

<hr>

<%= link_to "New Workout", new_workout_path %>
