
<% if current_user %>
<h4>Dashboard</h4>
<hr>
<ul>
  <% @measurements.each do |measurement| %>
    <li><%= link_to measurement.created_at, measurement_path(measurement) %></li>
  <% end %>
</ul>
<hr>
<%= link_to "New Measurement", new_measurement_path %>

<% else %>
<%= render "index" %>
<% end %>
