@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";


body {
  color: #009688;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    color: white;
    background-color: #009688;
}
td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #e0f2f1;
}
