@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";

.navbar-nav {
  border-bottom: 1px solid black;
  width: 100%;
  height-max: 150px;
  height: 60px;
  font-family: 'Rajdhani', sans-serif;
}
.nav-content {
  color: red;
  margin-top: 16px;
  font-size: 24px;
}

.container {
  color: teal;
  margin-top: 1px;
}

// .app-name {
//   font-size: 24px;
//   color: red;
//   float: right;
//   margin-top: 0px;
//
// }

body {
  color: #009688;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    color: white;
    background-color: #009688;
}
td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #e0f2f1;
}
